<!DOCTYPE HTML>
<html>
	<head>
	    <title>Kevin Lam - Informatiekunde H3</title>
	    <META charset=utf-8>
	    <META name="viewport" content="width=device-width">
	    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	    <link href="/styles/main.css" rel="stylesheet">
	</head>
	<body>
	    <p>
            <a href="/" class="active">Pagina 1</a> <br \>
            <a href="/pagina2">Pagina 2</a> <br \>
            <a href="/pagina3">Pagina 3</a>
	    </p>

	    <p style="font-size:32px">Tekst met grootte 32 pixels</p>

        <p class="red">Rode regel</p>
        <p class="green">Groene regel</p>
        <p class="blue">Blauwe regel</p>

        <br \>
        <figure>
            <img src="/img/Betty.gif">
            <figcaption>I am Betty Boop!</figcaption>
        </figure>
	</body>
</html>