<!DOCTYPE HTML>
<html>
	<head>
	    <title>Kevin Lam - Informatiekunde H3</title>
	    <META charset=utf-8>
	    <META name="viewport" content="width=device-width">
	    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	    <link href="/styles/main.css" rel="stylesheet">
	</head>
	<body>
	    <p>
            <a href="/">Pagina 1</a> <br \>
            <a href="/pagina2" class="active">Pagina 2</a> <br \>
            <a href="/pagina3">Pagina 3</a>
	    </p>

        <p>
            <b>Dik gedrukte tekst</b> <br \>
            <i>Schuin geplaatste tekst</i> <br \>
            <u>Onderstreepte tekst</u> <br \>
            <b><i>Dik en schuin gedrukte tekst</i></b>
        </p> <br \>
        <figure>
            <img src="/img/Gezichtsbedrog.gif">
            <figcaption>Gezichtsbedrog?</figcaption>
        </figure>
	</body>
</html>