<!DOCTYPE HTML>
<html>
	<head>
	    <title>Kevin Lam - Informatiekunde H3</title>
	    <META charset=utf-8>
	    <META name="viewport" content="width=device-width">
	    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" type="text/css">
	    <link href="/styles/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	    <p>
            <a href="/dag2/">Pagina 1</a> <br \>
            <a href="/dag2/pagina2">Pagina 2</a> <br \>
            <a href="/dag2/pagina3" class="active">Pagina 3</a>
	    </p>

        <p style="font-size:42px;" class="orange"><b>Hup Holland!</b></p>
        <p class="red"><i>Rij niet door rood!!</i></p>
        <p class="green"><u>Een groene rijmat.</u></p>
        <p style="font-size:28px;" class="blue"><b>Blauwe lucht.</b></p>
        <br \>

        <figure>
            <img src="/img/Holland.gif" alt="Ronddraaiende bal"></img>
            <figcaption>Scoren met die bal!</figcaption>
        </figure>
	</body>
</html>